<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" type="image/x-icon" href="https://img2.freepng.ru/20180324/gpe/kisspng-cockroach-royalty-free-roach-5ab6cd7e019966.9196493215219295980066.jpg">
    <title>Сайт-мемориал таракана Аркадия </title>
    <style>
		h1 {font-size:120px;font-weight:400;line-height:30px;margin-top:50px;}
		h2 {font-size:40px;font-weight:400;line-height:35px;margin-top:-25px;}
		h3 {font-size:20px;font-weight:400;line-height:18px;margin-top:630px;}
		body {font-family:"Franklin Gothic Medium","Franklin Gothic","ITC Franklin Gothic";text-align:center;color:#fff;background-image:url(https://avatars.mds.yandex.net/get-zen_doc/1064817/pub_5c3b0fee5f7b8900aaf20f1c_5c3b130c4aa54f00aaf6b3ec/scale_1200);background-position:top}
	</style>
</head>
<body>
	<h1>Аркадий</h1>
	<h2>Просто ли Таракан?</h2>
	<h3>Аркадий - не только таракан, но икона стиля в первую очередь жизни</h3>
	<h3 style="margin-top:-12px;">Всем знавшим усопшего рекомендуем обратиться сюда: <a style="color:#e30002" href="https://t.me/Legoshi478">Убийца</a></h3>
</body>
</html>
